<% @posts.each do |post| %>
  <h2><%= link_to post.title, post_path(post), class: 'title link' %></br></h2>
  <%= simple_format post.body %></br>
<% end %>

    <%= button_to "Create new post", {action: "new"}, :method => :get, class: 'submit_btn' %>
